{% extends 'base_generic.html' %}
{% load extra_filters %}

{% block content %}
<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
<div class="h-screen flex justify-center items-center">
    <div class="lg:w-2/5 md:w-1/2 w-2/3">
        <form method="post" class="bg-white p-10 rounded-lg shadow-lg min-w-full">
            {% csrf_token %}
            <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Login</h1>

            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username|add_class:"w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" }}
                {% if form.username.errors %}
                    <div class="text-red-600 text-sm mt-1">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password|add_class:"w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" }}
                {% if form.password.errors %}
                    <div class="text-red-600 text-sm mt-1">{{ form.password.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Login</button>
            <a href="{% url 'register' %}" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans text-center block">Register</a>
        </form>
    </div>
</div>
{% endblock %}